.popup-container {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    margin-top: 15px;
    pointer-events: none;
}

.popup-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--popup-bg);
    box-shadow: var(--popup-shadow);
    border-radius: 5px;
    pointer-events: auto;
}

.content-wrapper {
    display: flex;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex: 1;
}

.desc-holder {
    padding: 10px 10px 0 30px;
}

.countdown-bar {
    width: 100%;
    background-color: var(--countdown-bg);
    overflow: hidden;
    height: 5px;
    border-radius: 20px;
}